.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group 
        = @group.name
      %ul.main-header__left-box__member 
        membaer:
        %li.main-header__left-box__member-list  = user.name
    = link_to edit_group_path(@group.id),class:"main-header__left-box__edit-buttn" do
      .main-header__edit-btn Edit
  .messages
    .message
      = render @messages
  .form
    .new-messages
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .input_box
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'